* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Arial, sans-serif;
}

.header {
    height: 50px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 3;
    width: 100%;
    top: 0;
}

.nav-bar {
    display: flex;
}

.nav-bar>div {
    font-size: 15px;
    padding: 12px 24px;
    line-height: 25px;
}

.nav-bar>div:hover {
    background-color: #cdcdcd;
    color: black;
    cursor: pointer;
}

.search {
    padding: 12px 24px;
    line-height: 25px;
}
#bar{
    display: none;
}
.search:hover {
    background-color: red;
    cursor: pointer;
}

.nav-bar .more {
    position: relative;
}

.more:hover {
    color: black;
    background-color: #cdcdcd;
    cursor: pointer;
}

.more li:hover {
    color: black;
    background-color: #cdcdcd;
    cursor: pointer;
}

.more:hover .subnav {
    display: block;
}


.subnav {
    top: 100%;
    left: 0;
    position: absolute;
    color: black;
    display: none;
    z-index: 2;
}

.subnav ul li {
    list-style: none;
    padding: 8px 0;
    padding-right: 40px;
    padding-left: 10px;
    background-color: white;
}


.slider {
    background-image: url('https://www.w3schools.com/w3images/chicago.jpg');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 50%;
    position: relative;
    margin-top: 50px;
}


.text-content {
    position: absolute;
    color: white;
    bottom: 8%;
    left: 50%;
    transform: translateX(-50%);
}

.slider-location {
    text-align: center;
    margin-bottom: 30px;
    font-size: 30px;
}

.section {
    max-width: 800px;
    margin: 0 auto;
    margin-top: 64px;
    text-align: center;
}

.section>h2 {
    margin: 10px 0;
    font-weight: 400;
    letter-spacing: 4px;
    font-size: 30px;
}

.section>h3 {
    font-size: 15px;
    font-weight: 400;
    font-style: italic;
    color: #a7a7a7;
}

.section-text {
    margin-top: 15px;
    text-align: justify;
    font-size: 15px;
    line-height: 1.5;
}

.section-imgs {
    margin: 70px 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 10px;
}

.section h3 {
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 15px;
}

.section-img img {
    width: 60%;
    border-radius: 5px;
}

.wrapper-tour-background {
    max-width: 100%;
    background-color: black;
    padding: 80px 16px;
}

.tour-container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    padding: 0 16px;
}

.tour-container>h3 {
    margin: 10px 0;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 4px;
    color: white;

}

.tour-container>h4 {
    margin: 10px 0;
    font-size: 15px;
    font-weight: 400;
    font-style: italic;
    color: #a7a7a7;
}

.tour-times {
    color: #848484;
    margin: 40px 0;
    text-align: left;
}

.tour-time {
    background-color: white;
    border-bottom: 1px solid #cdcdcd;
    padding: 8px 16px;
}

.sold-out {
    background-color: red;
    color: white;
    padding: 2px 4px;
    line-height: 25px;
    font-size: 15px;
    margin-left: 10px;
    font-weight: 500;
}

.ticket-remain {
    display: block;
    background-color: black;
    color: white;
    height: 25px;
    width: 25px;
    border-radius: 100%;
    text-align: center;
}

#fix {
    display: flex;
    justify-content: space-between;
}

.tour-locations {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    grid-gap: 15px;
}

.tour-location img {
    width: 100%;
    vertical-align: middle;

}

.tour-ticket>h4,
.tour-ticket>p {
    margin: 15px 0;
    font-size: 15px;
}

.tour-ticket {
    background-color: white;
    text-align: left;
    padding: 0 16px;
    padding-bottom: 16px;
}

.tour-ticket>h3 {
    padding-top: 15px;
    font-size: 15px;
}

.tour-ticket>h4 {
    font-weight: 400;
    color: #848484;
}

.tour-ticket button {
    padding: 8px 16px;
    color: white;
    background-color: black;
    font-weight: 500;
    line-height: 16px;

}

.tour-ticket button:hover {
    cursor: pointer;
    color: black;
    background-color: #848484;
    border: 1px solid #848484;

}

.contact-container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    padding: 64px 16px;
}

.contact-container h3 {
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 4px;
    margin: 10px 0;
}

.contact-container h4 {
    font-size: 15px;
    color: #848484;
    font-weight: 400;
    font-style: italic;
}

.main-contact {
    display: grid;
    padding: 60px 0;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    position: relative;
}

.contact-infor {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.contact-infor span {
    margin-left: 15px;
    font-size: 20px;
}

.contact-infor i {
    height: 17px;
    width: 17px;
}

.input-contact {
    text-align: left;
}

.contact-container button {
    position: absolute;
    right: 0;
    bottom: 0;
    margin-top: 10px;
    padding: 8px 16px;
    color: white;
    background-color: black;
}

.contact-container button:hover {
    color: black;
    background-color: #a7a7a7;
    border: 2px solid #a7a7a7;
    cursor: pointer;
}


.fan-name input {
    padding: 10px 19px;
    width: 49%;
}

.fan-name .email {
    margin-left: 3px;

}

.fan-mess input {
    margin-top: 10px;
    padding: 10px;
    width: 100%;
}

.footer-img{
    background-image: url('https://www.w3schools.com/w3images/map.jpg');
    max-width: 100%;
    padding-top: 50%;
    background-position: center;
    background-size: cover ;
    filter: grayscale(50%);
}

.footer-icon{
    padding: 80px 0;
    font-size: 29px;
    color: #757575;
    text-align: center;
}

.footer-icon i:hover{
    color: #a7a7a7;
    cursor: pointer;
}


@media screen and (max-width: 600px){
    .nav-bar{
        display: block;
    }
    .header{
        height: 50px;
        overflow: hidden;
        z-index: 10;
        position: fixed;
        display: block;
    }
    .search{
        position: absolute;
        top: 0;
        right: 0px;
    }
    #bar{
        display: block;
        line-height: 25px;
    }
    #glass{
        display: none;
    }
    .home{
        width: 100px;
    }
    .text-content,
    .text-location{
        display: none;
    }

    .section-text{
        margin: 0 30px;
    }

}